body{
    display: flex;
    justify-content: center;
}

.board{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.row{
    display: flex;
    flex-direction: column;
}

.tile{
    display: block;
    width: 15px;
    height: 15px;
    padding: 5px;
    border: 10px;
    border-style: outset;
    text-align: center;
}

.revealed{
    border-style: inset;

}
